@model ViewModels.ServiceListViewModel

	@{
			ViewBag.Title =  Model.ServiceGroup.Title + " | مرکز زیبایی فروزان یافت آبادی";
			Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
			ViewBag.Canonical = "https://www.foroozanyf.com/service/"+Model.ServiceGroup.UrlParam;
	 
	}

<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout" style=" background-image: url('/images/headers/4.jpg');">
	<div class="overlay-main"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="hb-innerbanner-area service">
					<div class="hb-bannarheading">
						<h1>@Model.ServiceGroup.Title</h1>
					</div>
					<ul class="hb-breadcrumb">
						<li><a href="/">صفحه اصلی</a></li>
						<li>@Model.ServiceGroup.Title</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="shop-page ptb-100">
	<div class="container">
		<div class="row">
		 
			<div class="col-md-12 col-sm-12 col-xs-12">
			 
				<div class="tab-content">
					<div id="grid" class="tab-pane active" role="tabpanel">
						<div class="row">
							@foreach (var service in Model.Services)
							{
								<div class="col-md-3 col-sm-6 col-xs-12">
									<div class="single-feature text-center">
										<div class="feature-img">
											<img src="@service.HomeImageUrl" alt="@service.Title">
										</div>
										<div class="feature-desc">
											<h3><a href="/service/@service.ServiceGroup.UrlParam/@service.UrlParam">@service.Title</a>
											</h3>
											<a href="/service/@service.ServiceGroup.UrlParam/@service.UrlParam">مشاهده جزییات</a>
										</div>
									</div>
								</div>
							}
							

						</div>
					 

					</div>
				 
				</div>
			</div>
			<!--shop sidebar end-->
		</div>
	</div>
</div>